.articleViewer{
    margin: 10px 0;
}

.articleViewer .input{
    display:block;
    width : 100%;
    height:50px;
    font-size:30px;
}

.articleViewer .abstract{
    display:block;
    margin:10px 0;
    width : 100%;
    min-height : 60px;
}

.buttons {
    margin:0 10px 0 auto; 
    display:flex;
    justify-content: flex-end;
}

.buttons button {
    display:block;
    width : 100px;
    height: 50px;
    margin:5px;
    color: white;
    font-weight:bold;
    border:none;
    border-radius: 10px;
}

.buttons .submit {
    background-color: #41a85f;
}   

.buttons .delete {
    background-color: #D61F2C;
}