.container {
    height:45px;
    display:flex;
}

.container img {
    display:inline-block;
    height:45px;
    width:45px;
}

.describe{
    display:inline-block;
    margin: 0 0 0 10px;
}

.describe p{
    margin: 0 0 3px 0;
}

.describe .author {
    font-size:14px;
    font-weight:bold;
}

.describe .article {
    font-size:13px;
    color: #4D4D4D
}