.board {
    width:900px;
}

.boardList {
    margin:auto;
}

.section {
    width:900px;
    height:220px;
}

.textbox {
    text-align:left;
    letter-spacing: 0px;
    color: #4D4D4D
}

.textbox h1{

}

.textbox p{

}

.imagebox{
    width:319px;
    height:220px;

}